* {
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.8em;
  margin: 1em auto;
  border-bottom: 1px solid rgb(129, 129, 129);
  width: 80%;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
}

.inItem {
  margin-left: 1em;
}

.tadam {
  text-decoration: line-through;
  color: rgb(170, 170, 170);
}

.removeBtn {
  border: none;
  margin-left: auto;
}

.removeBtn {
  cursor: pointer;
}

.checkBox {
  margin-right: 1em;
}